<launch>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we start rviz -->
  <arg name="use_gui" default="true" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <arg name="robot_name" default="/hsrb" />

  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <arg name="upload_robot_model_launch" default="$(find hsrb_description)/robots/upload_hsrb.launch" />
  <include file="$(find hsrb_moveit_config)/launch/planning_context.launch">
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="upload_robot_model_launch" value="$(arg upload_robot_model_launch)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find hsrb_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="joint_states_topic" value="/hsrb/joint_states" />
    <arg name="robot_name" value="$(arg robot_name)"/>
    <arg name="upload_robot_model_launch" value="$(arg upload_robot_model_launch)"/>
  </include>

  <!-- Relay joint_states for MoveIt Commander -->
  <node name="relay_joint_states" pkg="topic_tools" type="relay" args="/hsrb/joint_states /joint_states">
    <param name="lazy" value="true"/>
  </node>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find hsrb_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_gui)">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(find hsrb_moveit_config)/launch/default_warehouse_db.launch" if="$(arg db)"/>

</launch>
